{% extends "navbar.html" %} 

{% block body %} 
<div class="aboutpage"> 
    <h2> ABOUT FILEMAN</h2> 
    <div class="description_paragraph">

        <p>When it comes to choosing a Web Based file management system to store your data, you are often forced to choose between a heavyweight file management system that comes with 
            plenty of features, or a Lightweight file management system that can be incorporated in other applications but comes with limited features.  Fileman, on the otherhand, 
            gives you the best of both worlds! It provides its users with the advanced features that are offered 
            by heavyweight file management systems but can also be incorporated in other applications!   
        </p> 
        <p>Features offered by Fileman include:</p>    
        </p> 
        <ul>
        <li>Strong authentification system</li>
        <li>Upload files from your device</li> 
        <li>Download files</li> 
        <li>Create directories</li>  
        <li>Rename and delete files and diretories</li>  
        </ul>
    </div> 
</div> 
{% endblock %}